// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 14px;
$v-font-family: Arial, Helvetica, sans-serif;
$v-unit-size: 28px;
$v-line-height: 1.6;
$v-font-color: #6E6E6E;
$v-selection-color: #2D6998;

// Defines the border used by all components.
$v-border-radius: 0px;

// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
$v-app-background-color: hsl(0, 0%, 100%);

// Defines colors for indicating status (focus, success, failure)
$v-focus-color: #197de1;
$v-friendly-color: #2c9720;
$v-error-indicator-color: #ed473b;

// Affects the visual appearance of all components
$v-gradient: none;
$v-bevel-depth: 30%;
$v-shadow-opacity: 0%;

@import "../valo/valo.scss";

@mixin demo {
    @include valo;
}
